.intro {
  font-weight: bold;
  text-align: center;
  &__title {
    font-family: 'Montserrat';
    font-size: 54px;
    color: $font-grey;
  }
  &__subtitle {
    font-family: 'Roboto';
    font-size: 28px;
    color: #ced5e2;
  }
}