.nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 50px;
  }
}